{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="hero-section">
  <div>
    <div class="container max-w-screen-xl mx-auto">
      <div class="relative">
        <div class="absolute top-0 left-0 w-full flex justify-center lg:justify-end">
          <div class="w-[200px] lg:w-[300px] flex-none pt-3 lg:pr-12">
            <img src="/images/Logo_unwritten_black_RGB.svg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div>
      {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "w-full h-auto" "DisplayMD"
      "1080x" "DisplayXL" "2000x" ) }}
    </div>
  </div>
  <div class="container max-w-screen-xl mx-auto">
    <div class="max-w-[780px] mx-auto text-center py-16">
      <h1 class="text-[#3087b9] text-[2.25rem] lg:text-[2.7rem] font-tertiary font-light mb-4">
        {{ .title | markdownify }}
      </h1>
      <div>
        <p class="text-[#3e4447] font-tertiary text-lg tracking-wider">{{ .content | markdownify }}</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Features -->
{{ with .Params.features }}
<section class="features-section">
  <div
    class="relative before:absolute before:w-full before:h-[25%] before:content-[''] before:left-0 before:bottom-0 before:bg-[#3F4448] before:z-0">
    <div class="container max-w-screen-xl mx-auto">
      <div class="w-[80%] lg:min-h-[480px] mx-auto relative z-10">
        {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "w-full h-auto" "DisplayXL"
        "1060x" ) }}
      </div>
    </div>
  </div>
  <div class="bg-[#3F4448]">
    <div class="container max-w-screen-xl mx-auto">
      <div class="lg:w-[80%] mx-auto pb-8 lg:pb-0">
        <div class="grid grid-cols-12 gap-y-5 lg:gap-x-5">
          {{ range .features_list }}
          <div class="col-span-12 lg:col-span-4">
            <div class="text-center tracking-wider pt-8 pb-8 lg:pb-24">
              <h3 class="text-gray-100 text-2xl lg:text-2xl font-tertiary font-light">{{ .title }}</h3>
              <h4 class="text-[#3087b9] text-2xl lg:text-2xl font-tertiary font-light">{{ .subtitle }}</h4>
              <div class="pt-2">
                <p class="text-base lg:text-base text-gray-100 font-tertiary font-light">{{ .content | markdownify }}
                </p>
              </div>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Features -->

<!-- Quotes -->
{{ with .Params.quotes }}
<section class="quotes-section">
  <div class="container max-w-screen-xl mx-auto pt-20 pb-16 lg:pt-32 lg:pb-24">
    <header class="text-center">
      <h2 class="text-[#3087b9] font-tertiary font-light mb-4">Quotes</h2>
    </header>
    <div class="lg:w-[80%] mx-auto pt-6">
      <div class="swiper testimonial-slider">
        <div class="swiper-wrapper">
          {{ range $i, $quote := . }}
          {{ if eq (mod $i 2) 0 }}
          <div class="swiper-slide">
            {{ end }}
            <div class="text-center first:mb-8">
              <p class="text-[#3e4447] font-tertiary text-base tracking-wider">{{ $quote.quote }}</p>
              <div class="pt-4">
                <h4 class="text-[#3e4447] font-tertiary text-xl font-normal tracking-wider">{{ $quote.name }}</h4>
                <p class="text-[#3e4447] font-tertiary text-base tracking-wider">{{ $quote.position }}</p>
              </div>
            </div>
            {{ if eq (mod $i 2) 1 }}
          </div>
          {{ end }}
          {{ end }}
        </div>
        <div class="testimonial-slider-pagination mt-9 flex items-center justify-center text-center"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Quotes -->

<!-- Partners -->
{{ with .Params.partners }}
<section class="partners-section bg-[#3F4448]">
  <div class="container max-w-screen-xl mx-auto pt-8 lg:pt-12">
    <header class="text-center">
      <h2 class="text-gray-100 font-tertiary font-light mb-4">{{ .title | markdownify }}</h2>
      <div>
        <p class="text-gray-100 font-tertiary text-lg font-light tracking-wider">{{ .content | markdownify }}</p>
      </div>
    </header>
    <div class="lg:w-[86%] mx-auto pt-12">
      <div class="grid grid-cols-12">
        {{ range .partner_logo }}
        <div class="col-span-4">
          <div
            class="w-[86%] md:w-[190px] lg:w-[190px] h-[60px] md:h-[98px] lg:h-[98px] mx-auto bg-[url('/images/Glaskugel.png')] bg-cover bg-no-repeat bg-top flex justify-center items-end pb-4">
            <div class="w-1/2">
              {{ partial "image" (dict "Src" .image "Alt" "brand" "Loading" "eager" "Class" "w-full h-auto"
              "DisplayXL" "260x" "DisplayMD" "360x" ) }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Quotes -->

<!-- Teams -->
{{ with .Params.teams }}
<section class="teams-section">
  <div class="container max-w-screen-xl mx-auto pt-20 pb-16 lg:pt-32 lg:pb-24">
    <header class="text-center">
      <h2 class="text-[#3087b9] font-tertiary font-light mb-4">{{ .title | markdownify }}</h2>
      <div>
        <p class="text-[#3e4447] font-tertiary text-lg tracking-wider">{{ .content | markdownify }}</p>
      </div>
    </header>
    <div class="lg:w-[84%] mx-auto pt-10">
      <div class="swiper teams-slider">
        <div class="swiper-wrapper">
          {{ range $index, $team := .team }}
          <div class="swiper-slide relative">
            <div class="swiper-image">
              {{ partial "image" (dict "Src" .image "Alt" "Swiper image" "Loading" "eager" "Class" "w-full h-auto"
              "DisplayXL" "280x" "DisplayMD" "360x" ) }}
            </div>
            <div
              class="team-name absolute left-0 top-[105%] md:top-[105%] lg:top-[100%] xl:top-[105%] w-full text-center transition-all duration-200 ease-[ease]">
              <p class="text-[#3e4447] font-tertiary text-lg tracking-wider">{{ .name | markdownify }}</p>
            </div>
          </div>
          {{ end }}
        </div>
        <div class="flex justify-center pt-20">
          <div class="teams-slider-pagination flex items-center justify-center text-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Teams -->

<!-- Contact -->
{{ with .Params.contact }}
<section class="teams-section bg-[#F5F5F5]">
  <div class="container max-w-screen-xl mx-auto pt-16 pb-16 lg:pt-20 lg:pb-20">
    <header class="text-center">
      <h2 class="text-[#3087b9] font-tertiary font-light mb-4">{{ .title | markdownify }}</h2>
      <div>
        <p class="text-[#3e4447] font-tertiary text-lg tracking-wider">{{ .content | markdownify }}</p>
      </div>
    </header>
    <div class="lg:w-[80%] mx-auto pt-6">
      <form action="">
        <div>
          <div class="mb-6">
            <label class="hidden" for="name">Nome*</label>
            <input
              class="placeholder:text-[#3e4447] placeholder:font-normal placeholder:text-lg placeholder:leading-tertiary bg-white w-full border border-white px-3 py-[6px] focus:outline-none focus:border-transparent focus:ring-transparent focus:ring-0"
              type="text" id="name" name="name" placeholder="name*" required="">
          </div>
          <div class="mb-6">
            <label class="hidden" for="email">Email*</label>
            <input
              class="placeholder:text-[#3e4447] placeholder:font-normal placeholder:text-lg placeholder:leading-tertiary bg-white w-full border border-white px-3 py-[6px] focus:outline-none focus:border-transparent focus:ring-transparent focus:ring-0"
              type="email" id="email" name="email" placeholder="working mail*" required="">
          </div>
          <div class="mb-4">
            <label class="hidden" for="message">message</label>
            <textarea
              class="placeholder:text-[#3e4447] placeholder:font-normal placeholder:text-lg placeholder:leading-tertiary bg-white w-full border border-white px-3 py-[6px] focus:outline-none focus:border-transparent focus:ring-transparent focus:ring-0"
              type="text" id="message" name="message" placeholder="message*" rows="4" required=""></textarea>
          </div>
          <div class="input__checkbox-center">
            <label class="checkbox-label">
              <div class="checkbox-group flex items-center space-x-4">
                <div class="w-[32px] h-[32px] flex-none relative">
                  <input class="checkbox-input absolute opacity-0 cursor-pointer w-0 h-0" type="checkbox" />
                  <span
                    class="checkbox-checkmark absolute top-0 left-0 w-[32px] h-[32px] bg-white cursor-pointer"></span>
                </div>
                <div class="flex-1">
                  <span class="text-[#3e4447] text-sm lg:text-base font-tertiary tracking-wider">l agree to the terms
                    set out in the privacy
                    policy.*</span>
                </div>
              </div>
            </label>
          </div>
          <div class="pt-6">
            <button type="submit"
              class="w-1/2 h-[36px] inline-flex justify-center items-center text-gray-100 font-tertiary tracking-wider bg-[#3F4448]">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>
{{ end }}
<!-- /Contact -->

{{ end }}